{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "packages/mirror-media-next/**",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"],
        "tailwindStylesheet": "./packages/mirror-media-next/styles/tailwind.css",
        "tailwindFunctions": ["cn", "clsx", "cva"]
      }
    }
  ]
}
